body {
    font-family: 'DM Sans', sans-serif;
}

/* This is the header */

header {
/* The header needs to be 250 px high, a white background and sticky to the top.*/
    letter-spacing: 10px;
    text-align: center;
    color: #011640;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    /* there is a bug that when the window is small, it hides the h2*/
}

header h1 {
    font-size: 48px;
}

header h2 {
    font-size: 16px;
}

.line {
    border-bottom: solid 3px #011640;
    padding: 1px;
    width: 10rem;
    margin: 0 auto;

}

header a {
    text-decoration: none;
}

/* This is the main home page */

main {
    background-color: white;
    z-index: 1;
    top: 200px;
    position: relative;
    padding: 0 25px;
    margin: 0 auto;
    width: 90%;
}

#main-home {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.topic-wrapper {
    justify-content: center;
    padding: 0 25px;
    flex-direction: column;
    width: 30%;
    order: 1;
    flex-grow: 2;
}

.image-wrapper {
    order: 2;
    border: solid 1px green;

}

.image-wrapper img {
    width: 300px
}

.topic {
    border: solid 3px #011640;
    background-color: #E9EFF2;
    box-shadow: 0 5px 12px grey;
    margin-bottom: 20px;
    padding: 0 15px;
    height: 135px;
}

.topic a, a:visited {
    text-decoration: none;
    color: #011640;
}

.topic-wrapper-img {
    display: flex;
    width: 500px;
    max-width: 50;
    padding: 10px;
}

p {
    font-size: 14px;
}

/* This is for the time line 
-
-
-
-
-
-
-
-
-
This is for the time line */

#main-coding, #main-education, #main-career {
    display: flex;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;

}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #021F59
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.timeline-content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 48px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: #E9EFF2;
    border-radius: 50px;
    box-shadow: 0 0 0 3px #021F59;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 48px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: #E9EFF2;
    border-radius: 50px;
    box-shadow: 0 0 0 3px #021F59;
}

.timeline ul li h3 {
    font-weight: 700;
}

.timeline ul li h4 {
    color: #021F59;
    font-weight: 700;
}

#accordion-toggle {
    background: #021F59;
    border: none;
    border-radius: 15px;
    height: 25px;
    color: #fff;
}

#accordion-content {
    display: none;
}

.timeline ul li:hover #accordion-content {
    display: block;
}

/* This below is for the contact page */

#main-contact {
    text-align: center;
}


/* This is for the about page */

#main-about {
    scroll-snap-type: mandatory;
}

#main-about img {
    position: relative;
    border: white solid 15px;
}

.section-about {
    margin: 0 0 200px 0;
}

.text-box-right {
    position: relative;
    width: 45%;
    left: 600px;
    top: -250px;
    color: #021F59;
}

.text-box-right p {
    font-size: 24px;
}

.text-box-left {
    position: relative;
    width: 45%;
    color: #021F59;
    top: 250px;

}

.text-box-left p {
    font-size: 24px;
}

/* Section One - Intro */

#about-intro {
    scroll-snap-align: start;
}

.mini-collage {
    position: relative;
}

#statue {
    height: 300px;
    left: 670px;
    position: relative;

}

#selfie {
    height: 300px;
    top: 100px;
    left: 500px;
}

.quote-box {
    position: relative;
    background: #E9EFF2;
    border: #021F59 solid 5px;
    color: #021F59;
    padding: 25px;
    width: 45%;
    top: -250px;
}

.quote-box p {
    text-align: right;
}

/* Section Two - About Cambridge */

#about-cambridge {
    scroll-snap-align: start;
}

#kings {
    height: 300px;
}

#cambridge {
    height: 300px;
    position: relative;
    left: -495px;
    top: 130px;
    border: white solid 15px;
}

/* Section Three - About Eidsvoll */

#about-eidsvoll {
    scroll-snap-align: start;
}

#snowlane {
    height: 250px;
    left: 775px;
    top: 25px;
}

#vorma {
    height: 250px;
    left: 180px;
}

#eidsvoll {
    height: 250px;
    left: 485px;
    top: -45px;
}

/* Section Four - About Norway */

#about-norway {
    scroll-snap-align: start;
}

#mai-17 {
    height: 250px;
}

#stranda {
    height: 350px;
    top: 200px;
    left: -75px;
}

#bunad {
    height: 200px;
    top: 145px;
    left: -450px;
}
/* Section Five - About Food */

#tart {
    height: 200px;
    left: 600px;
    top: 50px
}

#cake {
    height: 200px;
    left: 500px;
    top: -75px;
}
